
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>myView</title>
    Welcome to MVC 5 Step by Step learning
</head>
<body>
    <div> 
    </div>
</body>
</html>
